*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html , body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}
.sructure {
    display: flex;
    flex-direction: column;
    overflow: hidden;  
    min-height: 100%;

}

/**************/
.main {
flex: 1 1 auto;
}

[class*="_container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 1087px) {
    [class*="_container"] {
        max-width: 970px;
    }
}
@media (max-width: 991.98px) {
    [class*="_container"] {
        max-width: 767.98px;
    }
}
@media (max-width: 767.98px) {
    [class*="_container"] {
        max-width: none;
    }
}
.header {
position: absolute;
width: 100%;
top: 0;
left: 0;
z-index: 50;
}
.header__logo{
    position: relative;
    z-index: 5;
}
.header__container {
display: flex;
min-height: 114px;
align-items: center;
} 
.menu{
    display: flex;
    justify-content: flex-end;
  
}
.header__menu {
flex: 1 1 auto;
}
.menu__list {
display: flex;
}
.menu__item {
margin: 0px 40px 0px 0px;
}

.menu__link {
font-family: Raleway;
text-transform: uppercase;
font-weight: 700;
font-size: 10px;
line-height: 1.2;
color: #000 ;
letter-spacing: 1px;
}
@media (max-width: 991.98px) {
    .header__container {
    min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0px 20px 0px 0px;
    }
}
@media (max-width: 767.98px) {
.menu__body {
position: fixed;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background-color: #f1f1f1;
padding: 120px 15px  30px 15px;
transition: left 0.3s ease 0s;
}
.header:target .menu__body{
    left: 0;
}
.header:target .header__container{
    position: fixed;
    right: 104.5px;
}
.header:target .header__logo{
    position: fixed;
    left: 15px;

}
.header:target .menu__body:before
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.menu__link {
    color: #737373;
    font-size: 20px;
}
.menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu__item {
    padding: 0px 0px 25px 0px;
}
.menu__item:last-child {
    margin-bottom: 0px;
}
}

    @media (max-width: 479.98px) {
        .header__logo{
            flex: 0 0 40px;
            overflow: hidden;
        }
    }
.header__button {
flex:  0  0 252px;
display: flex;
justify-content: flex-end;
align-items: center;
}

.button_nav {
    background-color:#70a3f7 ;
}

.button {
font-family: Raleway;
display: inline-block;
text-transform: uppercase;
font-weight: 800;
font-size: 10px;
line-height: 12px;
letter-spacing: 1px;
color: #fcfdfe;
padding: 14px 30px;
border-radius: 5px;
background-color: #4285f4;
transition: background-color 0.3s ease 0s;
position: relative;

}
/******menu burger *******/
.close-icon-menu,
.icon-menu{
    display: none;
}
@media (max-width: 767.98px) {

    .icon-menu {
     display: flex;
     position: relative;
     flex: 0 0 30px;
     height: 18px;
     flex-direction: column;
     justify-content: space-between;
     margin: 0px 0px 0px 20px;
 }
 .icon-menu::before,
 .icon-menu::after {
     content: "";
     background-color: #000;
     height: 2px;
 }
 .icon-menu span {
     height: 2px;
     background-color: #000;
 }
 .close-icon-menu {
     position: relative;
     flex: 0 0 30px;
     height: 30px;
     margin: 0px 0px 0px 20px;
 }
 .close-icon-menu::before,
 .close-icon-menu::after {
   content: "";
   position: absolute;
   top: 50%;
   width: 100%;
   background-color: #000;
   height: 2px;
 }
 .close-icon-menu::before {
   transform: rotate(45deg);
 }

 .close-icon-menu::after{
    transform: rotate(-45deg);
 }
 .header:target .icon-menu {
    display: none; 
 }
 .header:target .close-icon-menu {
     display: flex;
 }
}

/**********Get started*********/
.get-started {
    background-color: #fafbfd;
    
}
.get-started__container {
padding: 150px 15px 50px 15px;
display: flex;
align-items: center;
flex-wrap: wrap;
position: relative;
}

.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;  
    top: 0;
    transform:translate(100%,0px) ;
    border-radius: 30px 0px 0px 30px;
    background-color: #ec5863; 
    }

.get-started__content {
    flex: 0 1 48%;
    padding: 0px 20px;
}

.block-text__title {
font-weight: 700;
font-size: 44px;
line-height: 126%;
color: #000;
}
.block-text__title span {
    color: #4285f4;
    }
    .block-text__title:not(:last-child) {
        margin: 0px 0px 12px 0px;
    }
    .block-text__title_safe {
font-weight: 700;
font-size: 44px;
line-height: 126%;
color: #000;
    }
    .block-text__title_safe span {
        color:#ec5863;
    }

    .block-text__title_safe:not(:last-child) {
        margin: 0px 0px 12px 0px;
    }
    .block-text__title_health {
        font-weight: 700;
        font-size: 44px;
        line-height: 126%;
        color: #000;
            }
            .block-text__title_health span {
                color:#ec5863;
            }

.block-text__text {
line-height: 138.5%;
}
.block-text__text:not(:last-child) {
    margin: 0px 0px 24px 0px;
    }
    .block-text__text_mw {
max-width: 630px;
margin: 0px auto;
    }
.block-text__button:hover {
background-color: #4285f4;
transition: 0.3s ease 0s;
}
.get-started__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 20px;
}
.video-get {
   display: inline-flex;
   align-items: center;
}
.video-get-started__icon {
flex: 0 0 44px;
}
.video-get__body {
padding: 0px 0px 0px 12px;
}
.video-get__title:not(:last-child){
    margin: 0px 0px 5px 0px;
}
.video-get__title {
color: #b0b0b0;
font-size: 13px;
line-height: 126%;
letter-spacing: 1.5px;
}
.video-get__text {
    text-transform: uppercase;
    color: #000;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 2px;
}
.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}
.get-started__image img {
    max-width : 100%;
}
@media (max-width:991.98px) {
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}
@media (max-width:767.98px) {
    .get-started__container {
        padding: 100px 15px 30px 15px;
    }
    .get-started__container::before {
        display: none;
    }
    .get-started__block-text {
        max-width: none;
    }
    .get-started__content{
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started__image{
        flex: 1 1 100%;
        text-align:center ;
        padding: 30px 0;
    }
    .get-started__video {
        padding: 0;
    }
}
@media (max-width:767.98px) {
    .block-text__title {
        font-size: 35px;
    }
}
/*******************Safe**********/
.stay-safe {
padding: 80px 0;
}
.stay-safe__container {
display: flex;
align-items: center;
}
.stay-safe__media {
flex: 0 1 50%;
padding: 0px 0px 0px 47px;
}
@media (max-width:991.98px) {
    .stay-safe {
        padding: 30px 0px;
        }
    }
@media (max-width:991.98px) {
    .stay-safe__media{
        padding: 0px 0px 0px 50px;
    }
}
@media (max-width:767.98px) {
    .stay-safe__container {
       flex-direction: column-reverse;
    }
        .stay-safe__content {
           margin: 0px 0px 30px 0px;
        }
       .media-stay-safe{
        width: 290px; 

       }
        }

.stay-safe__content{
    flex: 0 1 50%;
}

.media-stay-safe {
width: 373px;
padding: 56px 0px 27px 0px;
text-align:center;
position: relative;
}
.stay-safe__media__image {
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0,0,0,0.12);
    border-radius: 16px;
    position: relative;
    width: 61.5%;
}
.stay-safe__media__image img {
    position: relative;
    z-index: 5;
    max-width:100%;
}
.stay-safe__media__image::after {
   content: "";
   position: absolute;
   bottom: -12px;
   left: 12px;
   width: 206px;
   height: 27px;
    background: rgba(240,240,240,0.49);
    border-radius: 16px;
}
.media-stay-safe__item {
position: absolute;
background-color: #ec5863;
border-radius: 30px;
height: 77px;
width: 77px;
}
.media-stay-safe__item_1 {
top: 0;
left: 0;
width: 147px;
height: 147px;
}
.media-stay-safe__item_2 {
bottom: 0;
left: 33px;
}
.media-stay-safe__item_3 {
bottom: 107px;
right: 35px;
}
@media (max-width:479.98px) {
    .media-stay-safe {
       width: 290px;
    }
        }

/****************Experts*********/
.experts {
background-color: #f0f0f0;
padding: 103px 0px 116px 0px;
}
.experts__block-text{
    max-width: 400px;
}
.experts-statistics {
margin: 0px 0px 80px 0px;
}
.statictics-expert {
max-width: 654px;
margin: 0px auto;
position: relative;
}
.statictics-expert__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88,126,236,0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    margin: 0px 0px 80px 0px;
}
.body-statictics-expert {
padding: 20px 80px;
display: flex;
align-items: center;
}
.body-statictics-experts__item {
flex: 0 1 25%;
text-align:center ;
}
.body-statictics-experts__item:last-child{
    flex: 0 1 50%;
}
.body-statictics-experts__value {
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 1px;
color: #ec5863;
margin-bottom: 5px;
}
.body-statictics-experts__text {
font-weight: bold;
font-size: 11px;
line-height: 1.8;
letter-spacing: 2px;
text-transform: uppercase;
color: #000;

}
.statistics-experts__decor {
    position: absolute;
    background-color: #ec5863;
    border-radius: 30px;
}
.statistics-experts__decor_1 {
width: 65px;
height: 65px;
transform: rotate(-30deg);
bottom: -21px;
border-radius: 16px;
left: -31px;
}
.statistics-experts__decor_2 {
width: 97px;
height: 97px;
right: 50%;
top: 0;
transform: rotate(30deg);

}
.statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    right: -65px;
    top: -15px;
    transform: rotate(-30deg);
}
.experts__body {
display: flex;
align-items: center;
}
.experts__content {
flex:  0 1 50%;
padding: 0px 20px 0px 0px;
}



.experts__video {
flex: 0 1 50%;
padding: 0px 0px 30% 0px;
position: relative;
box-shadow: 0px 2px 24px rgba(88,126,236,0.15);
border-radius: 14px;
overflow: hidden;
}
.experts__video iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}
@media (max-width:767.98px) {
    .experts {
        padding: 80px 0px 30px 0px;
    }
    .experts__body {
        align-items: stretch;
       flex-direction: column;
    }
    .experts__video {
    padding: 0px 0px 58% 0px;
    }
    .experts__content{
        padding: 0;
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width:767.98px) { 
    .statictics-expert__body {
        margin: 0px 0px 50px 0px;
    }
    .body-statictics-expert {
        padding: 25px;
    }
}
@media (max-width:479.98px) {
    .body-statictics-expert {
       flex-direction: column;
    }
    .body-statictics-experts__item:not(:last-child) {
        margin: 0px 0px 15px 0px;;
     }
}
.block-text_center {
    text-align:center;
}
/**********healt***********/ 
.health {
    padding: 80px 0px 30px 0px;
}
.health__block-text {
    margin: 0px 0px 45px 0px;
}
.health__column {
    padding: 0px 36px;
    flex: 0 1 33.333%;
    position: relative; 
    
}
.health__items {
display: flex;
}

.health__item {
  
}
.item-health {
height: 100%;
position: relative;
z-index: 5;
background: #fff;
box-shadow: 0px 2px 24px rgba(88,126,236,0.18);
border-radius: 18px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 35px 17px;
}
.item-health__icon {
margin: 0px 0px 58px 0px;
}
.item-health__title {
font-weight: 700;
font-size: 16px;
line-height: 138.5%; 
color: #000;
margin: 0px 0px 4px 0px;

}
.item-health__text {
    line-height: 138.5%; 
}
.health__column_1::before,
.health__column_1::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    border-radius: 16px;
    
}

.health__column_1::before {
    content: "";
    width: 65px;
    height: 65px;
    bottom: -35px;
    left: 15px;
    transform: rotate(-30deg);
}

.health__column_1::after {
    content: "";
    width: 97px;
    height: 97px;
    top: 30px;
    border-radius: 30px;
    right: -10px;
    transform: rotate(30deg);
}
.health__column_2::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    width: 127px;
    height: 127px;
    bottom: -35px;
    border-radius: 30px;
    right: -30px;
    transform: rotate(55deg);
}
.health__column_3::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    width: 65px;
    height: 65px;
    top: -25px;
    border-radius: 16px;
    right: 10px;
    transform: rotate(45deg);
}
.footer {
padding: 45px 0px;
}

.footer__items {
    display: flex;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}


@media (max-width:1087px) { 
   .health__column  {
        padding: 0px  15px ;
    }
}
@media (max-width:991.98px) { 
    .health {
        padding: 30px 0px 30px 0px;
    }
    .health__items  {
         flex-direction: column;
     }
     .health__column:not(:last-child)  {
         margin: 0px 0px 25px 0px;
     }
 }
 @media (max-width:500px) { 
    .footer  {
         padding: 30px  0px ;
        }
        .footer__items {
flex-direction: column;
        }
 }